/* Set the size of the div element that contains the map */
/* .map {
  height: 775px;
  /* The height is 400 pixels */
/* width: 100%; */
/* The width is the width of the web page */
/* position: relative; */
/* }  */

input,
label {
  justify-content: space-between;
  color: #171820;
  padding: 10px;
  word-wrap: break-word;
}
input{
  opacity: 0.1
}
input:hover {
	opacity: 1
}
input:focus {
  opacity: 1
}

.form-input {
  padding: 15px;
}
.form-container {
  background-color: none;
  border-radius: 10px;
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 2;
  top: 240px;
  left: 5px;
  height: 50%;
  /* height: 200px;
  width: 200px;
  border: black 1px solid; */
}
.x {
  position: relative;
  display: flex;
  right: -130px;
  top:15px;
  color: #aa3d01;
  background-color: #fdc029;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  opacity: 60%;
}
.x:hover {
  cursor: pointer;
  opacity: 1;
}
.x2 {
  position: relative;
  display: flex;
  right: -130px;
  top:15px;
  color: #aa3d01;
  background-color: #fdc029;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  opacity: 60%;
}
.x2:hover {
  cursor: pointer;
  opacity: 1;
}

.hide {
  display: none;
}

.side-nav {
  width: 300px;
  background-color: #171820;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.side-btn {
  background-color: transparent;
  border: none;
  position: relative;
  top: 75px;
  margin: 20px 0;
}

.nav-link {
  text-decoration: none;
  color: #df861d;
  font-size: 32px;
}

.nav-close-btn {
  color: #df861d;
  background: none;
  border: none;
  height: 20px;
  width: 20px;
  font-size: 28px;
  position: relative;
  right: 104px;
  bottom: -27px;
}
.reports {
  position: absolute;
  background-color: #171820;
  width: 300px;
  height: 475px;
  top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
  border: solid 5px #fdc029;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index:100;
}

.reports-header {
  position: absolute;
  top: 10px;
  /* left: 20px; */
  font-size: 28px;
  text-align: center;
}

.reports-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 90px 0;
  padding-top: 75px;
  /* position: absolute;
  top: 10px; */
}
.reports-content {
  display: flex;
  flex-direction: column;
  border-top: solid 2px #fdc029;
  border-bottom: solid 2px #fdc029;
  margin: 5px;
  /* height: 100px; */
  /* position: relative; */
  /* top: 100px; */
}

.reports-text {
  margin: 5px;
  text-align: center;
}

.report-btn {
  background-color: #df861d;
  border: none;
  height: 30px;
  width: 120px;
  position: absolute;
  bottom: 50px;

  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.whaHappun {
  font-size: 22px;
}
.safe-p {
  color: #aa3d01;
  font: bolder;
  font-size: 25px;
  margin-left: 10px;
}
.safe-space {
  color: #aa3d01;
}

::placeholder {
  color: #aa3d01;
}
.submit-btn {
  background-color: #171820;
  color: #fdc029;
  border-radius: 25px;
  border: solid 5px #fdc029;
  height: 40px;
}

/* html,
body,
div {
  height: 100%;
  background-color: #171820;
} */

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubble {
  background-color: #fdc029;
  border-radius: 25px;
  margin: 5px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  padding: 10px;
  opacity: 60%;
}
.bubble-safe {
  background-color: #fdc029;
  border-radius: 25px;
  margin: 5px;
  transition: all 0.5s;
  display: flex;
  padding: 5px;
  opacity: 60%;
}
.bubble:hover{
  opacity: 1;
}
.bubble-safe:hover{
  opacity:1;
}
.textBox {
  background-color: rgba(0, 0, 0, 0);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: #aa3d01 1px solid;
  width: 215px;
}

.btn {
  position: relative;
  background: linear-gradient(-90deg, #fdc029, #df861d, #aa3d01, #f0d800ef);
  background-size: 400% 100%;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-radius: 0.25em;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px;
  margin: 0;
  animation: Gradient 4s ease infinite;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 5px;
}
.btn:hover {
  cursor: pointer;
}

.btn div {
  color: black;
  min-height: 40px;
  padding: 0 1.618em;
  border-radius: inherit;
  background-size: inherit;
  background-image: inherit;
  animation: Gradient 4s ease infinite;
  position: relative;
  z-index: 1;
  mix-blend-mode: overlay;
  font-family: "Helvetica Neue";
}


@keyframes Gradient {
  50% {
    background-position: 140% 50%;
    transform: skew(-2deg);
  }
}

.btn::after {
  content: "";
  position: absolute;
  background-size: inherit;
  background-image: inherit;
  animation: inherit;
  left: 0px;
  right: 0px;
  top: 2px;
  height: 100%;
  filter: blur(1rem);
}

@media only screen and (min-width: 768px) {
  .btn {
    bottom: 5%;
    left: 56px;
    padding: 25px;
  }
  .btn div {
    height: 60px;
  }
  .x {
    /* top: -66px; */
  }
}
