<mat-sidenav-container class="content">
  <mat-sidenav mode="side" [(opened)]="opened" position="end" class="side-nav">
    <div class="side-nav">
      <button class="nav-close-btn" (click)="toggleNav()">X</button>
      <button class="side-btn">
        <a class="nav-link" [routerLink]="['/main']">Home</a>
      </button>
      <button class="side-btn">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </button>
      <button class="side-btn">
        <a class="nav-link" [routerLink]="['/blog']">Blog</a>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (navEvent)="toggleNav()"></app-header>
    <google-map class="map" height="85vh" width="100%" [zoom]="zoom" [center]="center" [options]="options">
      <map-marker #markerElem="mapMarker" *ngFor="let marker of markers" [position]="marker.position"
        [label]="marker.label" [title]="marker.title" [options]="marker.options"
        (mapClick)="openInfo(markerElem, marker)">
      </map-marker>

      <map-marker class="btn" #userMarkerElem="mapMarker" *ngFor="let marker of userMarkers"
        [position]="marker.position" [label]="marker.label" [title]="marker.title" [options]="marker.options"
        (mapClick)="openNewForm()" (mapDragend)="setMarkerLocation($event)">
      </map-marker>
      <map-info-window>
        <p>{{ locationName }}</p>
        <p>{{ locationAddress }}</p>
        <p>{{ locationPhone }}</p>
        <!-- <p>{{ locationInfo }}</p> -->
        <button (click)="showReports()">View all Reports</button>
        <button (click)="openForm()">Add a new Report</button>
      </map-info-window>
      <div class="btn-container">
        <div>
          <a class="btn emergency-color" href=”tel:+911″>
            <div> Call 911 </div>
          </a>
        </div>
        <div class="make-report">
          <a class="btn neutral-color" (click)="addUserMarker()">
            <div> Add Incident</div>
          </a>
        </div>

      </div>
      <section [class.hide]="hideReports === true">
        <div class="reports">
          <h3 class="reports-header">Reports for {{ locationName }}</h3>
          <div class="reports-container">
            <div class="reports-content" *ngFor="let report of reports">
              <p class="reports-text">
                {{ report.report }}
              </p>
              <p class="reports-text">
                {{ report.date }}
              </p>
            </div>
          </div>
          <button class="report-btn" (click)="showReports()">
            Close Reports
          </button>
        </div>
      </section>
      <section class="home-container">
        <div class="form-container" [class.hide]="hide === true">
          <div (click)="openForm()" class="x2">X</div>
          <form class="form" #addReportForm="ngForm" (ngSubmit)="submitReport(addReportForm)">
            <div class="bubble">
              <h3 class="whaHappun">What Happened Here?</h3>
            </div>
            <div class="bubble">
              <label for="report">Make Your Report</label>
              <input class="form-input" type="text" name="report" id="report"
                placeholder="Tell us about your experience" class="textBox" ngModel />
            </div>
            <div class="bubble">
              <label for="date">When did it Happen?</label>
              <input type="text" name="date" id="date" placeholder="DD-MM-YYYY" class="textBox" ngModel />
            </div>
            <input type="hidden" name="id" id="id" ngModel="{{ reportId }}" />
            <button class="submit-btn">Submit Your Report</button>
          </form>
        </div>
        <div class="form-container" [class.hide]="hideNew === true">
          <p (click)="closeNewForm()" class="x">X</p>
          <form class="form" #reportForm="ngForm" (ngSubmit)="submitPost(reportForm)">
            <div class="bubble">
              <h3 class="whaHappun">What Happened Here?</h3>
            </div>
            <div class="bubble">
              <label for="name">Name of Location</label>
              <input type="text" name="name" id="name" placeholder="Optional" class="textBox" ngModel />
            </div>
            <div class="bubble">
              <label for="address">Address of Location</label>
              <input type="text" name="address" id="address" placeholder="Optional" class="textBox" ngModel />
            </div>
            <div class="bubble">
              <label for="phone">Phone Number</label>
              <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Optional"
                class="textBox" ngModel />
            </div>
            <div class="bubble-safe">
              <p class="safe-p">Safe Place?</p>
              <input type="radio" name="safety" id="safe" value="true" ngModel />
              <label class="safe-space" for="safe">Safe</label>
              <input class="safe-space" type="radio" name="safety" id="unsafe" value="false" ngModel />
              <label class="safe-space" for="unsafe">Unsafe</label>
            </div>
            <input type="hidden" name="lat" id="lat" placeholder="lat" ngModel="{{ newLat }}" />
            <input type="hidden" name="long" id="long" placeholder="long" ngModel="{{ newLong }}" />
            <button class="submit-btn">Submit Your Report</button>
          </form>
        </div>
      </section>
    </google-map>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Use custom zoom buttons -->
<!-- <button (click)="zoomIn()">Zoom in</button>
  <button (click)="zoomOut()">Zoom out</button> -->

<!-- (mapClick)="click($event)" -->