/* Set the size of the div element that contains the map */
.map {
  height: 775px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  position: relative;
}

input,
label {
  justify-content: space-between;
  color: #171820;
  padding: 10px;
  word-wrap: break-word;
}
.form-input {
  padding: 15px;
}
.form-container {
  background-color: none;
  border-radius: 10px;
  display: flex;
  position: absolute;
  z-index: 2;
  top: 240px;
  left: 5px;
  height: 50%;
  /* height: 200px;
  width: 200px;
  border: black 1px solid; */
}
.x{
  position:absolute;
  display: flex;
  top:-140px;
  right:20px;
  color: #aa3d01;
  background-color: #fdc029;
  border-radius:50%;
  height:20px;
  width:20px;
  justify-content: center;
  align-items: center;
}
.x:hover{
  cursor:pointer;
}
.x2{
  position:absolute;
  display: flex;
  top:-20px;
  right:20px;
  color: #aa3d01;
  background-color: #fdc029;
  border-radius:50%;
  height:20px;
  width:20px;
  justify-content: center;
  align-items: center;
}
.x2:hover{
  cursor:pointer;
}

.hide {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.whaHappun{
  font-size: 22px;
}
.safe-p {
  color: #aa3d01;
  font: bolder;
  font-size: 25px;
  margin-left:10px;
}
.safe-space {
  color: #aa3d01;
  
}

::placeholder {
  color: #aa3d01;
}
.submit-btn {
  background-color: #171820;
  color: #aa3d01;
  border-radius:25px;
  height:40px;;
}

/* html,
body,
div {
  height: 100%;
  background-color: #171820;
} */

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubble{
  background-color: #fdc029;
  border-radius:25px;
  margin:5px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  padding:10px;
}
.bubble-safe{
  background-color: #fdc029;
  border-radius:25px;
  margin:5px;
  transition: all 0.5s;
  display: flex;
  padding:5px;
}
.textBox{
background-color: rgba(0,0,0,0);
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom: #aa3d01 1px solid ;
width:215px;
}

.btn {
  position: relative;
  background: linear-gradient(-90deg, #fdc029, #df861d, #aa3d01, #f0d800ef);
  background-size: 400% 100%;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-radius: 0.25em;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px;
  margin: 0;
  animation: Gradient 4s ease infinite;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 630px;
  left: 5px;
}
.btn:hover{
  cursor:pointer;
}

.btn div {
  color: black;
  min-height: 40px;
  padding: 0 1.618em;
  border-radius: inherit;
  background-size: inherit;
  background-image: inherit;
  animation: Gradient 4s ease infinite;
  position: relative;
  z-index: 1;
  mix-blend-mode: overlay;
  font-family: "Helvetica Neue";
}

@keyframes Gradient {
  50% {
    background-position: 140% 50%;
    transform: skew(-2deg);
  }
}

.btn::after {
  content: "";
  position: absolute;
  background-size: inherit;
  background-image: inherit;
  animation: inherit;
  left: 0px;
  right: 0px;
  top: 2px;
  height: 100%;
  filter: blur(1rem);
}

.side-nav {
  width: 300px;
  background-color: #171820;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

/* .nav-close-btn {
  position: relative;
  right: 125px;
  bottom: 300px;
 } */
  

