<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened" position="end" class="side-nav">
    <div class="side-nav">
      <button class="nav-close-btn" (click)="toggleNav()">X</button>
      <button>Home</button>
      <button>About</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (navEvent)="toggleNav()"></app-header>
    <google-map
      height="659px"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
    >
      <map-marker
        #markerElem="mapMarker"
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(markerElem, marker)"
      >
      </map-marker>

      <map-marker
        class="btn"
        #userMarkerElem="mapMarker"
        *ngFor="let marker of userMarkers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openNewForm()"
        (mapDragend)="setMarkerLocation($event)"
      >
      </map-marker>
      <map-info-window>
        <p>{{ locationName }}</p>
        <p>{{ locationAddress }}</p>
        <p>{{ locationPhone }}</p>
        <!-- <p>{{ locationInfo }}</p> -->
        <button (click)="showReports()">View all Reports</button>
        <button (click)="openForm()">Add a new Report</button>
      </map-info-window>
      <div>
        <a class="btn" (click)="addUserMarker()">
          <div>Make a Report!</div>
        </a>
      </div>
      <section [class.hide]="hideReports === true">
        <h3>Reports for {{ locationName }}</h3>
        <div *ngFor="let report of reports">
          <p>
            {{ report.date }}
          </p>
          <p>
            {{ report.report }}
          </p>
        </div>
        <button (click)="showReports()">Close Reports</button>
      </section>
      <section class="home-container">
        <div class="form-container" [class.hide]="hide === true">
          <form
            class="form"
            #addReportForm="ngForm"
            (ngSubmit)="submitReport(addReportForm)"
          >
            <h3>What Happened Here?</h3>
            <div (click)="openForm()">X</div>
            <label for="report">Make Your Report</label>
            <input
              class="form-input"
              type="text"
              name="report"
              id="report"
              placeholder="Tell us about your experience"
              ngModel
            />
            <label for="date">When did it Happen?</label>
            <input
              type="text"
              name="date"
              id="date"
              placeholder="DD-MM-YYYY"
              ngModel
            />
            <input type="hidden" name="id" id="id" ngModel="{{ reportId }}" />
            <button class="submit-btn">Submit Your Report</button>
          </form>
        </div>
        <div class="form-container" [class.hide]="hideNew === true">
          <form
            class="form"
            #reportForm="ngForm"
            (ngSubmit)="submitPost(reportForm)"
          >
            <h3>What Happened Here?</h3>
            <p (click)="closeNewForm()">X</p>
            <label for="name">Name of Location</label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Optional"
              ngModel
            />
            <label for="address">Address of Location</label>
            <input
              type="text"
              name="address"
              id="address"
              placeholder="Optional"
              ngModel
            />
            <label for="phone">Phone Number</label>
            <input
              type="tel"
              id="phone"
              name="phone"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              placeholder="Optional"
              ngModel
            />
            <div>
              <p class="safe-p">Safe Place?</p>
              <input
                type="radio"
                name="safety"
                id="safe"
                value="true"
                ngModel
              />
              <label class="safe-space" for="safe">Safe</label>
              <input
                class="safe-space"
                type="radio"
                name="safety"
                id="unsafe"
                value="false"
                ngModel
              />
              <label class="safe-space" for="unsafe">Unsafe</label>
            </div>
            <input
              type="number"
              name="lat"
              id="lat"
              placeholder="lat"
              ngModel="{{ newLat }}"
            />
            <input
              type="number"
              name="long"
              id="long"
              placeholder="long"
              ngModel="{{ newLong }}"
            />
            <button class="submit-btn">Submit Your Report</button>
          </form>
        </div>
      </section>
    </google-map>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Use custom zoom buttons -->
<!-- <button (click)="zoomIn()">Zoom in</button>
  <button (click)="zoomOut()">Zoom out</button> -->

<!-- (mapClick)="click($event)" -->
