body,
section,
h1,
.about-container,
.img-container {
  background-color: #171820;
  width: 100%;
}
.h1 {
  position: relative;
}
.img-container {
  height: 100px;
}
.img {
  height: 100px;
  width: 200px;
  position: relative;
  left: 140px;
  bottom: -40%;
  opacity: 60%;
  z-index: 1;
}
.about-container {
  color: #171820;
  background-color: rgb(185 191 197 / 21%);
  border: 5mm ridge #aa3d01;
  margin: 4%;
  height: 975px;
  width: 89%;
}

.side-nav {
  width: 300px;
  background-color: #171820;
  display: flex;
  flex-direction: column;
  position: absolute;
  /* position: relative; */
}

.side-btn {
  background-color: transparent;
  border: none;
  position: relative;
  top: 75px;
  margin: 20px 0;
}

.nav-link {
  text-decoration: none;
  color: #df861d;
  font-size: 32px;
}

.nav-close-btn {
  color: #df861d;
  background: none;
  border: none;
  height: 20px;
  width: 20px;
  font-size: 28px;
  position: relative;
  right: -27px;
  bottom: -27px;
}

.h2 {
  font-family: "lemon-tuesday";
  font-size: 75px;
  font-weight: bold;
  text-shadow: 4px 2px #df861d;
  color: #aa0101;
  display: flex;
  justify-content: center;
}

p {
  align-content: center;
  font-size: 20px;
  font-weight: bold;
  padding: 13px;
  margin: 2px;
}
