<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened" position="end" class="side-nav">
    <div class="side-nav">
      <button class="nav-close-btn" (click)="toggleNav()">X</button>
      <button class="side-btn">
        <a class="nav-link" [routerLink]="['/main']">Home</a>
      </button>
      <button class="side-btn">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (navEvent)="toggleNav()"></app-header>



    <section class="about-container">
      <H1 class="h1">The Genesis of Street Lights
        <div class="img-container">
          <img src="assets/streetlight.png" alt="Street light" class="img"/>
        </div>
      </H1>
      <br />

      <p>
        We live in a world where feeling safe isn’t created equally. Only 6% of
        individuals who experience harassment file a formal complaint. That
        means on average, 94% of victims don’t report it, and when they do, most
        establishments have the power to make the incident disappear.
      </p>
      <br />

      <p>
        While traveling, Raeanna Bektashi found herself out at local bar in
        Bali, Indonesia. She noticed a single woman who seemed overly
        intoxicated to a point where she was incapacitated. A local male kept
        bringing her more drinks and grasping her inappropriately. While he was
        at the bar, Rae approached the woman if she was okay and if she wanted
        to be around him. She pleaded by saying, "No," and just wanted to find
        her friends. While helping her, the man returned. Raeanna intervened and
        told him the woman did not want his attention. He then became aggressive
        and angry. The woman's friends rescued her from the situation, and
        Raeanna then left the bar. The next day, while talking to a friend who
        lives in the area about the situation, he stated, "Why would you go to
        that bar? Girls get raped there all the time!" The fact that a horrific
        incident like rape can happen not only once, but recurrently to the
        point where it creates a reputation is unacceptable.
      </p>
      <br />

      <p>
        We wanted to shed light on this issue. Street Lights is an app that
        allows users to find safe and inviting spaces, as well as anonymously
        report incidents that might make a place less inviting.
      </p>
      <br />

      <p>
        So, please join us in using Street Lights to help build a community
        dedicated to cultivating a safe space for
        <strong>everyone, every where.</strong>
      </p>
      <br />

      <P
        >Raeanna Bektashi, Rachel Polant, Joseph Cambridge, and Tony French are
        proud to bring you this application. It is our hope to help create safe
        and welcoming spaces for women, LGBTQA members, and all minorites who
        have felt threated and ignored.
      </P>
      <br />
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
