<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened" position="end" class="side-nav">
    <div class="side-nav">
      <button class="nav-close-btn" (click)="toggleNav()">X</button>
      <button class="side-btn">
        <a class="nav-link" [routerLink]="['/main']">Home</a>
      </button>
      <button class="side-btn">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </button>
      <button class="side-btn">
        <a class="nav-link" [routerLink]="['/blog']">Blog</a>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenavContent">
    <app-header (navEvent)="toggleNav()"></app-header>

    <!-- <div class="img-container">
      <img src="assets/streetlight.png" alt="Street light" />
    </div> -->
    <section class="blog-container">
      <div class="intro">
        <h2 class="blog-header">Insights</h2>
        <h3 class="blog-about">
          Learn more about pressing issues affecting women, LGBTQA members, and
          minorities.
        </h3>
      </div>
      <br />
      <p class="p">
        Men, you may know women can have a hard time with harassment, but you
        you're probably underestimating just how often and common it is?
      </p>
      <a
        class="hyperlink"
        href="https://www.newsweek.com/sexual-harassment-metoo-women-men-underestimate-1246485"
        >American Men Think 44 Percent Of Women Have Been Sexually Harassed.
        It's Actually Nearly Double That!
      </a>
      <hr />
      <p class="p">
        Now, more than ever, women are traveling solo. But, not every place for
        women to travel is safe. That doesn't mean we need to sit home or limit
        our dreams of adventure. Being informed about the realities of traveling
        to dangerous places is the first step to staying safe no matter where
        you end up!
      </p>
      <a
        class="hyperlink"
        href="https://www.forbes.com/sites/laurabegleybloom/2019/07/26/20-most-dangerous-places-for-women-travelers/?sh=6ea2a18cc2f4"
      >
        According to the Travel Industry Association, approximately 32 million
        American women travel alone every year.
      </a>
      <hr />
      <p class="p">
        Want to know the how risky or safe a certain country is for a woman to
        travel to? Check out this hand safety index for solo female travelers!
      </p>
      <a
        class="hyperlink"
        href="https://www.asherfergusson.com/solo-female-travel-safety/"
        >The 50 Worst (& Safest) Countries For Solo Female Travel</a
      >
      <hr />
      <p class="p">
        More than half of transgender male teens who participated in the survey
        reported attempting suicide in their lifetime, while 29.9 percent of
        transgender female teens said they attempted suicide. Among non-binary
        youth, 41.8 percent of respondents stated that they had attempted
        suicide at some point in their lives. Here's a guide to let trans youth
        know they're not alone.
      </p>
      <a
        class="hyperlink"
        href="https://www.them.us/story/trans-teen-survival-guide"
        >The Trans Teen Survival Guide Is Here — And It’s Everything We Needed
        As Teens</a
      >
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
