.img-container {
  height: 100px;
  float: left;
  width: 55%;
}
.img {
  height: 100px;
  width: 200px;
  position: relative;
  left: 140px;
  bottom: -40%;
  opacity: 20%;
  z-index: -1;
}
.blog-container {
  color: #171820;
  background-color: rgb(185 191 197 / 21%);
  border: 5mm ridge #aa3d01;
  margin: 4%;
  height: 975px;
  width: 89%;
}

.intro {
  text-align: center;
}
.blog-header {
  font-family: "lemon-tuesday";
  font-size: 75px;
  text-shadow: 4px 2px #df861d;
  color: #aa0101;
}
.blog-about {
  font-size: 32px;
  text-shadow: 2px 2px #aa0101;
  color: #171820;
}
.hyperlink {
  font-size: 15px;
  font-weight: bolder;
  color: #aa0101;
  margin: 20px;
  padding: 10px;
  align-content: center;
}
.p {
  font-size: 20px;
  font-weight: bold;
  color: #171820;
  margin: 20px;
  padding: 10px;
}
.side-nav {
  width: 300px;
  background-color: #171820;
  display: flex;
  flex-direction: column;
  position: absolute;
  /* position: relative; */
}

.side-btn {
  background-color: transparent;
  border: none;
  position: relative;
  top: 75px;
  margin: 20px 0;
}

.nav-link {
  text-decoration: none;
  color: #df861d;
  font-size: 34px;
}

.nav-close-btn {
  color: #df861d;
  background: none;
  border: none;
  height: 20px;
  width: 20px;
  font-size: 28px;
  position: relative;
  right: -27px;
  bottom: -27px;
}
